*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 169, 18);
}

#clock{
    height: 12vw;
    width: 25vw;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

span{
    font-size: 50px;
}
